body {
    padding-inline: 20px;
}
h1 {
    text-align: center;
}
.option {
    display: flex;
    justify-content: right;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.input {
    padding: 7px 10px;
    border-radius: 10px;
    border-width: 2px;
    border-color: lightgrey;
    border-style: solid;
}
button:hover {
    cursor: pointer;
}
.button-gray {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: gray;
    border-width: 0;
    color: white;
}
.button-light_blue {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #007bff;
    border-width: 0;
    color: white;
}
th {
    background-color: lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 10px;
}
td {
    padding: 10px 10px;
    border: 1px solid lightgrey;
}
tr:nth-child(odd) {  /* Hàng chẵn (2, 4, 6...) màu xám nhạt */
    background-color: #E6E6E6;
}

tr:nth-child(even) {  /* Hàng lẻ (1, 3, 5...) màu trắng (mặc định) */
    background-color: white;
}